<!--
  @author - Naseem Akhtar
  @since - 0.0.1
-->

<ion-header>
  <ion-navbar color="primary">
    <ion-title>Log breastfeeding supportive practice</ion-title>
  </ion-navbar>
</ion-header>


<ion-content padding scrollbar-y-auto>
  <ion-grid>
    <!-- heading part -->
    <ion-row style=" margin-bottom: 50px;">
      <ion-col col-6 col-sm-4>
        <ion-item>
          <ion-label stacked>Baby ID</ion-label>
          <ion-input [(ngModel)]="babyCode" disabled="true"></ion-input>
        </ion-item>
      </ion-col>

      <ion-col col-6 col-sm-4>
        <ion-label color="black" stacked>Date of BFSP
          <span class="text-color"> *</span>
        </ion-label>
        <ion-input *ngIf="!isWeb" [disabled]="dateOfBfsp" [readonly]="true" [(ngModel)]="dateOfBfsp" 
          (ionFocus)="datePickerDialog()" [ngModelOptions]="{standalone: true}"></ion-input>
        <ion-input *ngIf="isWeb" [disabled]="dateOfBfspFlag" [readonly]="true" [(ngModel)]="dateOfBfsp" 
          (click)="showCalendar()"></ion-input>
      </ion-col>
    </ion-row>

    <div *ngFor="let bfsp of bfspList | orderByTimeBfsp; let i=index" margin class="form-border-box">
      <ion-row>
        <ion-col col col-sm-2 col-md-2 col-lg-1>
          <ion-label color="black" stacked>Time
            <span class="text-color"> *</span>
          </ion-label>
          <ion-input *ngIf="!isWeb" [readonly]="true" [(ngModel)]="bfsp.timeOfBFSP" [disabled]="!dateOfBfsp"
            (ionFocus)="timePickerDialog(bfsp)" [ngModelOptions]="{standalone: true}"></ion-input>
          <!-- <ion-datetime *ngIf="isWeb" [(ngModel)]="bfsp.timeOfBFSP" [ngModelOptions]="{standalone: true}" 
            displayFormat="HH:mm" (ionChange)="validateTime(bfsp.timeOfBFSP, bfsp)"></ion-datetime> -->
          <ion-input *ngIf="isWeb" type="tel" maxlength="5" [disabled]="!dateOfBfsp" 
            [(ngModel)]="bfsp.timeOfBFSP" (keypress)="_numberKeyPress($event);
            _formatTime($event, bfsp)" (ionBlur)="validateTime(bfsp.timeOfBFSP, bfsp)"></ion-input>
        </ion-col>

        <ion-col col col-sm-10 col-md-6 col-lg-4>
          <ion-label color="black" stacked>Supportive practice</ion-label>
          <ion-select [(ngModel)]="bfsp.bfspPerformed" [ngModelOptions]="{standalone: true}" 
            (ionChange)="setPersonWhoPerformed(bfsp)" [selectOptions]="bfspPerformedConfig">
            <ion-option *ngFor="let item of bfSupportivePracticePerformedList" [value]="item.id">{{item.name}}</ion-option>
          </ion-select>
        </ion-col>

        <ion-col col col-sm-12 col-md-4 col-lg-3>
          <ion-label color="black" stacked>Performed by</ion-label>
          <ion-select id="person+i" [(ngModel)]="bfsp.personWhoPerformedBFSP" 
            [ngModelOptions]="{standalone: true}" [selectOptions]="personWhoPerformedBfspConfig"
            [disabled]="bfsp.bfspPerformed === 54 ? true : false">
            <ion-option *ngFor="let item of personWhoPerformedBSFPList" [value]="item.id">{{item.name}}</ion-option>
          </ion-select>
        </ion-col>

        <ion-col col col-sm-8 col-md-6 col-lg-2>
          <ion-label color="black" stacked>Duration (Min.)</ion-label>
          <ion-input type="number" [(ngModel)]="bfsp.bfspDuration" [pattern]="onlyNumberRegex" 
            [ngModelOptions]="{standalone: true}"  [disabled]="(bfsp.bfspPerformed === 54 || bfsp.bfspPerformed === 55)  ? true : false"></ion-input>
        </ion-col>

        <ion-col col-6 col-sm-2 col-md-2 col-lg-1 class="save_margin">
          <button padding ion-button block small (click)="save(bfsp, i)">
            {{bfsp.createdDate === null ? 'Save' : 'Update'}}
          </button>
        </ion-col>

        <ion-col col-6 col-sm-2 col-md-2 col-lg-1 class="delete_margin" text-center>
          <button [disabled]="bfsp.createdDate === null" 
            ion-button icon-only clear large (click)="delete(bfsp)">
            <ion-icon name="trash" color="danger"></ion-icon>
          </button>
        </ion-col>

      </ion-row>
    </div>
  </ion-grid>
</ion-content>

<ion-footer ion-row align-center>
  <ion-col>
    <button ion-button block (click)="newBFSPForm()">New Entry</button>
  </ion-col>
  <ion-col>
    <button ion-button block (click)="saveAllExpressions()">Save / Update All</button>
  </ion-col>
</ion-footer>

