<!--
  This is the feed page view
  @author Ratikanta
  @since 0.0.1
-->
<ion-header>
  <ion-navbar color="primary">
    <ion-title>Log feed</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-grid>
    <!-- heading part -->
    <ion-row style=" margin-bottom: 50px;">

      <ion-col col-6 col-sm-4>
        <ion-item>
          <ion-label stacked>Baby ID</ion-label>
          <ion-input [(ngModel)]="babyCode" disabled="true"></ion-input>
        </ion-item>
      </ion-col>
  
      <ion-col col-6 col-sm-4>
        <ion-label color="black" stacked>Date of feed
          <span class="text-color"> *</span>
        </ion-label>
        <ion-input *ngIf="!isWeb" [disabled]="dateOfFeed" [readonly]="true" [(ngModel)]="dateOfFeed" (ionFocus)="datePickerDialog()" [ngModelOptions]="{standalone: true}"></ion-input>
        <ion-datetime *ngIf="isWeb" [disabled]="dateOfFeed" [(ngModel)]="dateOfFeed"
          [ngModelOptions]="{standalone: true}" displayFormat="DD-MM-YYYY" [min]="minDate"
          [max]="maxDate" (ionChange)="dateConfirmation()"></ion-datetime>
      </ion-col>

      <ion-col col-12 col-sm-4>
        <ion-item>
          <ion-label stacked>Weight of baby (in grams)</ion-label>
          <ion-input type="number"></ion-input>
        </ion-item>
      </ion-col>

    </ion-row>

    <div *ngFor="let feedExpression of feedExpressions | orderByTime; let i=index"  margin class="form-border-box">
      <ion-row>

        <ion-col col-3 col-sm-2 col-md-2 col-lg-1>
          <ion-label color="black" stacked>Time
            <span class="text-color"> *</span>
          </ion-label>

          <ion-input *ngIf="!isWeb" [disabled]="!dateOfExpressions" [readonly]="true"
            [(ngModel)]="feedExpression.timeOfFeed" (ionFocus)="timePickerDialog(feedExpression)"
              [ngModelOptions]="{standalone: true}"></ion-input>

          <ion-datetime *ngIf="isWeb" [disabled]="!dateOfExpressions" [(ngModel)]="feedExpression.timeOfFeed"
            [ngModelOptions]="{standalone: true}" displayFormat="HH:mm"
            (ionChange)="validateTime(feedExpression.timeOfFeed, feedExpression)"></ion-datetime>
        </ion-col>

        <ion-col col-6 col-sm-4 col-md-4 col-lg-2>
          <ion-label color="black" stacked>Method</ion-label>
          <ion-select [(ngModel)]="feedExpression.methodOfFeed" [ngModelOptions]="{standalone: true}" (ionChange)="validateVolumeFields(feedExpression)">
            <ion-option text-wrap *ngFor="let feedingMethod of feedingMethods" [value]="feedingMethod.id" text-wrap>{{feedingMethod.name}}</ion-option>
          </ion-select>
        </ion-col>

        <!-- Volume OMM -->
        <ion-col col-3 col-sm-3 col-md-2 col-lg-1>
          <ion-label color="black" stacked>OMM</ion-label>
          <ion-input type="tel" [pattern]="onlyNumberRegex" [(ngModel)]="feedExpression.ommVolume"
            [ngModelOptions]="{standalone: true}" [disabled]="!feedExpression.methodOfFeed || 
            feedExpression.methodOfFeed === 61 || feedExpression.methodOfFeed === 66"></ion-input>
        </ion-col>

        <!-- Volume DHM -->
        <ion-col col-3 col-sm-3 col-md-2 col-lg-1>
          <ion-label color="black" stacked>DHM</ion-label>
          <ion-input type="tel" [pattern]="onlyNumberRegex" [(ngModel)]="feedExpression.dhmVolume"
            [ngModelOptions]="{standalone: true}" [disabled]="!feedExpression.methodOfFeed || 
            feedExpression.methodOfFeed === 61 || feedExpression.methodOfFeed === 66"></ion-input>
        </ion-col>

        <!-- Volume Formula -->
        <ion-col col-3 col-sm-4 col-md-2 col-lg-1>
          <ion-label color="black" stacked>Formula</ion-label>
          <ion-input type="tel" [pattern]="onlyNumberRegex" [(ngModel)]="feedExpression.formulaVolume"
            [ngModelOptions]="{standalone: true}" [disabled]="!feedExpression.methodOfFeed || 
            feedExpression.methodOfFeed === 61 || feedExpression.methodOfFeed === 66"></ion-input>
        </ion-col>

        <!-- Volume Animal Milk -->
        <ion-col col-3 col-sm-4 col-md-2 col-lg-1>
          <ion-label color="black" stacked>Animal Milk</ion-label>
          <ion-input type="tel" [pattern]="onlyNumberRegex" [(ngModel)]="feedExpression.animalMilkVolume"
            [ngModelOptions]="{standalone: true}" [disabled]="!feedExpression.methodOfFeed || 
            feedExpression.methodOfFeed === 61 || feedExpression.methodOfFeed === 66"></ion-input>
        </ion-col>

        <!-- Volume Other -->
        <ion-col col-3 col-sm-4 col-md-2 col-lg-1>
          <ion-label color="black" stacked>Other</ion-label>
          <ion-input type="tel" [pattern]="onlyNumberRegex" [(ngModel)]="feedExpression.otherVolume"
            [ngModelOptions]="{standalone: true}" [disabled]="!feedExpression.methodOfFeed || 
            feedExpression.methodOfFeed === 61 || feedExpression.methodOfFeed === 66"></ion-input>
        </ion-col>

        <ion-col col-6 col-sm-6 col-md-6 col-lg-2>
          <ion-label color="black" stacked>Location</ion-label>
          <ion-select [(ngModel)]="feedExpression.locationOfFeeding" [ngModelOptions]="{standalone: true}">
            <ion-option text-wrap *ngFor="let locationOfFeeding of locationOfFeedings" 
              [value]="locationOfFeeding.id" text-wrap>{{locationOfFeeding.name}}</ion-option>
          </ion-select>
        </ion-col>

        <ion-col col-3 col-sm-2 col-md-1 col-lg-1 class="save_margin">
            <button padding ion-button block small (click)="validateExpression(feedExpression)">{{feedExpression.createdDate === null ? 'Save' : 'Update'}}</button>
        </ion-col>
  
        <ion-col col-3 col-sm-2 col-md-1 col-lg-1 class="delete_margin" text-center>
          <button [disabled]="feedExpression.createdDate === null" ion-button icon-only clear large (click)="delete(feedExpression)">
            <ion-icon name="trash" color="danger"></ion-icon>
          </button>
        </ion-col>

      </ion-row>
    </div>

  </ion-grid>

</ion-content>

<ion-footer ion-row align-center>
  <ion-col>
    <button ion-button block (click)="newExpression()">New Expression</button>
  </ion-col>
  <ion-col>
    <button ion-button block (click)="saveAllFeeds()">Save / Update All</button>
  </ion-col>
</ion-footer>
